{% extends "network/layout.html" %}
{% load static %}
{% block title %} All Posts {% endblock %}

{% block body %}

{% for post in page_obj %}

<div class="card" style="width: 18rem; margin:10px">
    <div class="card-body">
    <a href="{% url 'profile' post.created_by%}" style="text-decoration: none;"><h5 class="card-title">{{post.created_by}}</h5> </a>
    <small class="card-subtitle mb-2 text-muted">{{post.created_at}}</small>

    <div id="edit-space-{{post.id}}">
        <p class="card-text" id="post-body-{{post.id}}">{{post.post}}</p>
        </div>

    <p class="card-text" id="like-count-{{post.id}}">Likes: {{post.liked_post.count}}</p>

    {% if user.is_authenticated and post.created_by != user %}

    <span id="like-button" class="" data-id={{post.id}}>Like</span>

{% endif %}

    {% if user.is_authenticated and  post.created_by == user %}
    <span id="edit-button" class="" data-id={{post.id}}>Edit</span>
    {% endif %}
    
    </div>
</div>
{% empty %}
<p>No posts yet</p>

{% endfor %}

<div class="pagination">
  <ul class="pagination">
    
      {% if page_obj.has_previous %}

          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo Previous</a>
      {% endif %}
    
    
      {% for page in page_obj.paginator.page_range %}
        {% if page == page_obj.number %}
        <li class="page-item active">
            <a class="page-link" href="?page={{ page }}">{{ page }} </a>
     </li>
        {% else %}
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}
      
      
      {% if page_obj.has_next %}
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &raquo</a>

      {% endif %}
    
    </ul>
</div>

{% endblock %}
{% block script %} <script src="{% static 'network/post.js' %}"></script> {% endblock %}